In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("dataset.csv")

In [51]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

How many unknown ("?") values are present in the dataset? Remove/Delete unknown ("?") values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"

In [52]:
total = (df == "?").sum().sum()
print(f"Total '?': {total}")
df.replace("?", np.nan, inplace=True)

Total '?': 1823

What is the shape of the dataset

In [53]:
print(f"Shape of the dataset is {df.shape}")

Shape of the dataset is (10000, 12)

What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python

In [54]:
value = df.iloc[692, 0]
print(f"Value at 692th indexed row and 0th indexed column is {value}.")

Value at 692th indexed row and 0th indexed column is 2009-11-16.

What is the value present at the 546th indexed row and 7th indexed column in the data ?
 dataframe[546,7] (simpy saying this in a matrix)
 rows/ columns starts indexing from zero(0) in python

In [55]:
value_2 = df.iloc[546, 7]
print(f"Value at 546th indexed row and 7th indexed column is {value_2}")

Value at 546th indexed row and 7th indexed column is 3

What are the unique values present in the Locality feature of the dataset?

In [56]:
unique_values = df["Locality"].unique()
print(f"Unique values in Locality column are {unique_values}")

Unique values in Locality column are ['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' nan 'Fairfield'
 'West Hartford' 'Stamford']

Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

A) Year

B) Estimated Value

C) Sale Price

D) Locality

E) Property

F) property_tax_rate

In [57]:
nan_value = df.isnull().any()
nan_value

Date                 False
Year                 False
Locality              True
Estimated Value       True
Sale Price           False
Property              True
Residential          False
num_rooms            False
num_bathrooms        False
carpet_area           True
property_tax_rate    False
Face                 False
dtype: bool

Which of the following feature has most missing(NaN) values present in the dataset?
 (Note: compute after removing "?")

In [58]:
max_nan_value = df.isnull().sum()
max_nan_value

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?

In [59]:
df_cleaned = df.dropna(thresh=len(df.columns)-2)
df_cleaned.shape

(9917, 12)

Drop all the samples(rows) with missing values in the original dataframe . How many samples remains after that ?

In [60]:
df = df.dropna()
df.shape

(5449, 12)