In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("dataset.csv")

In [61]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [40]:
df_even = df.iloc[::2]
value = df_even.iloc[0, 3]
print(f"value in the 3rd indexed column of the 0th indexed row is {value}")

value in the 3rd indexed column of the 0th indexed row is 111440.0

Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [41]:
value_2 = df_even.iloc[332, 3]
print(f"value in the 3rd indexed column of the 332th indexed row is {value_2}")

value in the 3rd indexed column of the 332th indexed row is 256200.0

Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter
  If it is a string don't write quotes in the solution.

In [42]:
df_odd = df.iloc[1::2, :]
value_3 = df_odd.iloc[332, 3]
print(f"value in the 3rd indexed column of the 332th indexed row is {value_3}")

value in the 3rd indexed column of the 332th indexed row is 352940.0

Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

A) Single Family

B) West

C) 2022

D) Detached House

In [43]:
df_odd.iloc[100, 5]

'Single Family'

Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [44]:
df_even_even = df.iloc[0::2, 0::2]
df_even_even.iloc[255, 3]

'Detached House'

Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [56]:
years = sorted(df['Year'].unique()[-7:], reverse=True)
df_years = df[df['Year'].isin(years)]
len(df_years)

5548

Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [57]:
num_3 = df[(df['num_rooms']==3)&(df['num_bathrooms']==3)]
len(num_3)

2730

Determine the number of samples (rows) in the dataset which has num_rooms = 3 **OR** num_bathrooms = 3

In [58]:
num_3_or = df[(df['num_rooms']==3)|(df['num_bathrooms']==3)]
len(num_3_or)

8591

In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [59]:
facing = df[(df['Year']==2022) & (df['Locality']=='Greenwich') & (df['num_rooms']==3) & ((df['Face']=='North') | (df['Face']=='East'))]
len(facing)

42

Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [70]:
df['Month'] = df['Date'].apply(lambda x:  x.split("-")[1])
august = df[df['Month']=='08']
len(august)

1050

According to the data which Locality have highest average Sale Price?

A) Waterbury

B) Bridgeport

C) Greenwich

D) Norwalk

E) Fairfield

F) West Hartford

G) Stamford

In [83]:
sales_price = df.groupby('Locality')['Sale Price'].mean()
sales_price

Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64