In [115]:
import pandas as pd
from datetime import datetime

In [116]:
df = pd.read_csv("dataset.csv")

In [117]:
df.shape

(9450, 13)

In [118]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0

What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [119]:
flight_mean = df["Price"].mean()
print(f"Average of flight ticket price: {flight_mean:.2f}")

Average of flight ticket price: 9027.90

During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

In [120]:
most_flights = df["Month"].mode()
print(f"Most flights occurred in May (5)")

Most flights occurred in May (5)

Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

In [121]:
flight_price_weekend = df[(df["WeekDay"]=="Sunday") | (df["WeekDay"]=="Saturday")]["Price"].mean()
flight_price_weekday = df[(df["WeekDay"]!="Sunday") & (df["WeekDay"]!="Saturday")]["Price"].mean()

print(f"Average flight price on weekends: {flight_price_weekend}\nAverage flight price on weekdays: {flight_price_weekday}")

Average flight price on weekends: 9058.016077170418
Average flight price on weekdays: 9015.219666215608

Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [122]:
df["Additional_Info"] = df["Additional_Info"].replace("No Info", "No info")
no_info_indigo = df[(df["Additional_Info"]=="No info") & (df["Airline"]=="IndiGo")]

print(f"Number of Indigo flights with no info: {no_info_indigo.shape[0]}")

Number of Indigo flights with no info: 1650

Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [123]:
def convert_time(time_string):
    parts = time_string.split()
    
    hours = 0
    minutes = 0

    for part in parts:
        if part[-1] == 'h':
            hours = int(part[:-1])
        elif part[-1] == 'm':
            minutes = int(part[:-1])

    total_seconds = hours * 3600 + minutes * 60
    return total_seconds


df["Duration"] = df["Duration"].apply(lambda x: convert_time(x))

avg_dur = df["Duration"].mean()

print(f"Average duration of a flight: {avg_dur:.2f}")

Average duration of a flight: 38957.94

#### Apply the following functions to the columns Dep_Time and Arrival_Time:

Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10.   

Then convert the time into four categories as follows:
- 5 <= hour < 12 = Morning 
- 12 <= hour < 17 = Afternoon 
- 17 <= hour < 20 = Evening 
- 20 <= hour < 5 = Night

How many flights started in the Morning and arrived the destination at Evening?

In [124]:
def extract_hour(time_string):
    try:
        # Parse the time string using datetime
        if len(time_string) > 5:
            time_format = "%H:%M %d %b"
        else:
            time_format = "%H:%M"
        parsed_time = datetime.strptime(time_string, time_format)

        # Extract the hour from the parsed time
        hour = parsed_time.hour
        return hour
    except ValueError:
        print(f"Error: Unable to parse time string '{time_string}'")
        return None

df["Dep_Time"] = df["Dep_Time"].apply(lambda x: extract_hour(x))
df["Arrival_Time"] = df["Arrival_Time"].apply(lambda x: extract_hour(x))

df_morning = df[(df["Dep_Time"]>=5) & (df["Dep_Time"]<12) & (df["Arrival_Time"]<20) & (df["Arrival_Time"]>=17)]

print(f"Number of flights that started in morning and arrived in evening: {df_morning.shape[0]}")

Number of flights that started in morning and arrived in evening: 922

Encode the values of column 'WeekDay' as follows:
Weekends (Sunday, Saturday) = 1
all remaining five days = 0
What is the most frequent (mode) WeekDay?

In [125]:
def encode_weekdays(weekday):
    if weekday == "Saturday" or weekday == "Sunday":
        return 1
    else:
        return 0

df["WeekDay"] = df["WeekDay"].apply(encode_weekdays)

weekend_count = (df["WeekDay"]==1).sum()
weekday_count = (df["WeekDay"]==0).sum()

print(f"Weekend flights: {weekend_count}\nWeekday flights: {weekday_count}")

Weekend flights: 2799
Weekday flights: 6651